<h1 class="title-category mt-5 text-center">
	{{ title_movie }}
</h1>

<app-loading *ngIf="loading"></app-loading>
<app-error *ngIf="error"></app-error>

<div class="card-columns m-2-0 animated fadein fast">

	<div class="card card-movie pointer" *ngFor="let movie of movies" [routerLink]="[ '/movie', movie.id, 'home' ]">
		<img class="card-img-top" [src]="movie | movieImage" [alt]="movie.title" [title]="movie.title">
		<h1 class="title-movie text-center">
			{{ movie.title }}
		</h1>
	</div>
	
</div>